button {
    border: none;
    background-color: #fff;
    font-size: 24px;
    color: rgb(134, 134, 134);;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(235, 235, 235);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: #fff;
  }
  
  .equals:hover {
    background-color: rgb(235, 235, 235);
  }